<nav>
  <div class="site-title">
    <a href="/"><h1>My Blog Space</h1></a>
    <p>Share Your Stories, Discover New Ideas</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/blogs/create">Create Blog</a></li>
  </ul>
</nav>
