<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>

  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>My Blog Space</h1></a>
        <p>Share Your Stories, Discover New Ideas</p>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/blogs/create">Create Blog</a></li>
      </ul>
    </nav>
    </nav>

    <div class="about content">
        <h2>About Us</h2>
        <p>Welcome to My Blog Space! We are a community of bloggers who share our stories and ideas with the world. We believe that everyone has a unique perspective to offer, and we want to provide a platform for you to share your voice. Whether you are a seasoned writer or a first-time blogger, we welcome you to join our community and start sharing your stories today!</p>
      </div>

    <footer>Copyright &copy; Bryan Chow Wei Qian 2025</footer>
  </body>
</html>
