<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Welcome to My Blog Space! We are a community of bloggers who share our
        stories and ideas with the world. We believe that everyone has a unique
        perspective to offer, and we want to provide a platform for you to share
        your voice. Whether you are a seasoned writer or a first-time blogger,
        we welcome you to join our community and start sharing your stories
        today!
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
